@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700&display=swap');

@import "variables";
@import "values";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	color: rgba(black, 0.8);
}

::selection{
	background: #6610F2;
	color: white;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 500;
}

body{
	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	&::-webkit-scrollbar-button {
		width: 5px;
		height: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background: #292929;
		border: 0px none #ffffff;
		border-radius: 50px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #292929;
	}
	&::-webkit-scrollbar-thumb:active {
		background: #ff477e;
	}
	&::-webkit-scrollbar-track {
		background: #ffffff;
		border: 0px none #ffffff;
		border-radius: 50px;
	}
	&::-webkit-scrollbar-track:hover {
		background: #ffffff;
	}
	&::-webkit-scrollbar-track:active {
		background: #ffffff;
	}
	&::-webkit-scrollbar-corner {
		background: magenta;
	}
}
